body {
    font-family: Arial, sans-serif;
    text-align: center;
}

canvas {
    display: inline-block;
    padding: 0;
    margin: 0 auto;
}

header {
    text-align: center;
}

header > a {
    display: block;
    padding: 10px 0;
    font-size: 18px;
    color: white;
    background: #37373b;
    text-decoration: none;
    transition: .35s;
}
.main-menu-div > a:hover{

}

.main-menu-div{
    opacity: 0.9;
    padding: 25px;
    margin-top: 26vh;
    margin-bottom: 24vh;
    border-radius: 25px !important;
    border-style: hidden;
    font-family: "Lobster";
    color:white;
}
.input_text{
    font-family: Arial;
}
.log_input{
    color: white;
}

header > a:hover {
    display: block;
    color: white;
    background: #717178;
    text-decoration: none;
    transition: .35s;
}

/* Hide a DOM container, which is used for JS/PHP interaction */
#user-data{
    display: none;
}

.char-preview{
    height: 100px;
    width: 100px;
    background-size: contain;
}
.highlight{
    background-color: white;
}