body {
    font-family: Arial, sans-serif;
    text-align: center;
}

canvas {
    display: inline-block;
    padding: 0;
    margin: 0 auto;
}

header {
    text-align: center;
}

header > a {
    display: block;
    padding: 10px 0;
    font-size: 18px;
    color: white;
    background: #37373b;
    text-decoration: none;
    transition: .35s;
}

header > a:hover {
    display: block;
    color: white;
    background: #717178;
    text-decoration: none;
    transition: .35s;
}

/* Hide a DOM container, which is used for JS/PHP interaction */
#user-data{
    display: none;
}

.char-preview{
    height: 50px;
    width: 50px;
    background-size: contain;
}